{% include "parts/_header.html" %}


{% include "parts/_menu.html" %}

<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="/muzikekle">muzik ekle</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>BLACKPİNK</p>
        </div>
        <div class="well">
          <p>ITZY</p>
        </div>
      </div>
    </div>
  </div>


{% include "parts/_footer.html" %}